.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #b67676;
    padding: 2rem;
}

.logo {
    font-size: 1.7rem;
    font-weight: bold;
    margin-right: 1rem;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    color: #5f54b4;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #695b8a;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #ae3d3d;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .burger {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        margin-bottom: 1rem;
    }
}
.card1{
    
    justify-content: space-between;
}