@media only screen and (max-width: 480px) {
    .dropdown {
        width: 100%;
        margin: 10px auto;
        padding: 5px;
        background-color: blueviolet;
    }
    .navbar navbar-expand-lg bg-body-tertiary css{
        display: none;
    }
}

.card1{
    
    justify-content: space-between;
}

.css{
    background: rgb(2,43,248);
background: radial-gradient(circle, rgba(2,43,248,0.8436624649859944) 0%, rgba(251,4,54,0.571953781512605) 100%);
}